<app-players-joined [gameID]="this.gameID" *ngIf="this.displayState === this.stateOptions.acceptingUsers">
</app-players-joined>
<mat-spinner [hidden]="this.displayState !== 'loading'"></mat-spinner>

<div *ngIf="this.displayState === this.stateOptions.playing">
    <app-list-code-names [gameID]="this.gameID"></app-list-code-names>
</div>


<div *ngIf="this.displayState === this.stateOptions.null">
    <h1>
        Game {{this.gameID}} is not valid!
    </h1>
</div>

<div *ngIf="this.displayState === this.stateOptions.finished">
    <h1>
        game has finished
    </h1> 
    <app-result-list [gameID] = "this.gameID"></app-result-list>
    
</div>