<nav class="navbar fixed-top navbar-expand-lg bg-primary" >
    <div class="container">
        <div class="navbar-translate">
            <p class="navbar-brand" >
                Projects by Jon Bayert
            </p>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="https://www.linkedin.com/in/jonathan-bayert-a2a879170/" target="_blank" rel="tooltip" title="Check out my LinkedIn" class="nav-link"> LinkedIn</a>
                </li>
                <li class="nav-item">
                  <a href="" target="_blank" class="btn btn-danger btn-round">Projects on GitHub</a>
                </li>
              </ul>
        </div>
    </div>
</nav>

