<!--Navbar-->
<mdb-navbar SideClass="navbar sticky-top navbar-expand-lg navbar-dark blue lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"> Projects by Jon Bayert</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="https://www.linkedin.com/in/jonathan-bayert-a2a879170/" target="_blank" rel="tooltip" title="Check out my LinkedIn" class="nav-link"> LinkedIn</a>
          </li>
          <li class="nav-item">
            <a href=""  target="_blank" rel="tooltip" title="Check out my LinkedIn" class="nav-link" >Projects on GitHub</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          
            <div *ngIf="auth.user | async as user; else showLogin">
                <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar>
            </div>
            <ng-template #showLogin>
                <button type="button" (click) = this.eventsSubject.next() class="btn btn-success">Login</button>
            </ng-template>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->


  <app-login-modal [events] = "this.eventsSubject.asObservable()"></app-login-modal>